@media screen and (min-width:1020px) {
    #posts-loop.home {
        max-width: 620px !important;
    }

    #features-loop {
        max-width: 320px !important;
    }
}

@media screen and (min-width:728px) and (max-width:1020px) {
    #posts-loop.home {
        width: 60% !important;
        max-width: 620px !important;
    }

    #features-loop.home {
        width: calc(35% - 20px) !important;
    }
}

#ad_leaderboard {
    display: none !important;
}
